<div class="container">
  <div class="notification play-again" *ngIf="userWins || aiWins">
    <div class="arrow"></div>
    <p>Click "Start" to play again.</p>
  </div>
  <div class="notification game-over" *ngIf="userWins || aiWins">
    <p>Time's up!</p>
    <p *ngIf="userWins">You've won</p>
    <p *ngIf="aiWins">AI beat you</p>
  </div>
  <table [ngClass]="{ result: userWins || aiWins }">
    <tbody>
      <tr *ngFor="let cells of rows; let i = index">
        <td
          *ngFor="let cell of cells; let j = index"
          [ngClass]="{
            selected: rows[i][j] === 5 ? true : false,
            lost: rows[i][j] === 3 ? true : false,
            won: rows[i][j] === 1 ? true : false
          }"
          (click)="cellClick(i, j)"
          class="cell"
        ></td>
      </tr>
    </tbody>
  </table>
</div>
