.score {
  width: 50%;
  justify-content: space-around;
}

.scorepoint {
  position: relative;
  width: 56px;
  height: 50px;
  border: 1px solid steelblue;
}

.title {
  position: absolute;
  top: -25px;
  left: 30%;
}

.score-ai,
.score-user {
  position: absolute;
  top: 15px;
  left: 40%;
}
